header {
	color: white;
}

footer {
	color: white;
}

body, html {
    height: 100%;
}

body {
   background-image: url("background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

a {
	color: white;
}

h4 {
	color: white;
}

.iconpadding {
	padding-top: 50px; 
}

p {
	color: white;
}

img {
    vertical-align: text-bottom;
}

.center {
    margin: 0;
    display: flex;
    align-items: center;
    min-height: 100%;
}